body {
    background-color: #EADDCA;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

.title {
    text-align: center;
    color: blue;
}

#email, #name, #favbook, #quantity {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#quantity {
    width: 50px;
}

.smallBlock input[type="radio"],
.smallBlock input[type="checkbox"] {
    vertical-align: middle;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #ff6600;
    text-decoration: underline;
}

.smallBlock h3 {
    font-style: italic;
}

.centralColumn p, #lawsOfPower p {
    line-height: 1.5;
}

.smallBlock p, ul, ol {
    text-align: left;
}

.smallBlock img {
    display: block;
    margin: 0 auto;
    opacity: 0.8;
}

#howToWinFriends ul li {
    list-style-type: circle;
}

#howToWinFriends h3 {
    display: inline-block;
}

a:visited {
    color: #6c757d;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #c9bfac;
}

tr:nth-child(even) {
    background-color: #EADDCA;
}

tr:hover {
    background-color: #f2f2f2;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
}

.addBlock, .addBlock2 {
    margin: 20px;
    width: 30px;
    border: 1px solid #ccc;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #433;
    text-transform: uppercase;
    border-radius: 10px;
    line-height: 1.6;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    animation-name: example;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.smallBlock {
    margin: 20px;
    background-color: #c9bfac;
    border: 1px solid #ccc;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #433;
    text-transform: uppercase;
    border-radius: 10px;
    line-height: 1.6;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes example {
    0% { background-color: #fff; }
    50% { background-color: #6E260E; }
    100% { background-color: #fff; }
}



.smallBlock.animate {
    animation-name: fadeIn; /* Назва анімації */
    animation-duration: s; /* Тривалість анімації */
    animation-timing-function: ease-in-out; /* Функція затримки анімації */
    animation-fill-mode: forwards; /* Зберігати стилі на кінці анімації */
    opacity: 0; /* Початкова прозорість */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Початкова прозорість */
    }
    to {
        opacity: 1; /* Кінцева прозорість */
    }
}


