/* External CSS */
/* Global styles */
body {
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Classes and IDs */
.title {
    text-align: center;
    color: blue;
}

#email {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Group selector */
h3, p {
    color: green;
}

/* Pseudo-class */
a:hover {
    text-decoration: underline;
    color: red;
}

.bookBlock{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
    border-radius: 10px;
    line-height: 1.6;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#lawsOfPower {
    font-style: italic;
    opacity: 0.8;
    
}

#howToWinFriends:hover {
    color: red; /* Зміна кольору тексту при наведенні курсора */
}

/* Груповий селектор */
.bookBlock p, #lawsOfPower p {
    line-height: 1.5;
}

/* Псевдокласи */
a:hover {
    color: #ff6600;
    text-decoration: underline;
}

/* Вкладений селектор */
#howToWinFriends ul li {
    list-style-type: circle;
}

/* Властивості для гіперпосилань */
a {
    /* Колір та стиль посилань */
    color: #007bff;
    text-decoration: none;
}

a:hover {
    /* Зміна кольору при наведенні */
    color: #0056b3;
    text-decoration: underline;
}

/* Властивості для списків */
#howToWinFriends ul {
    /* Списки */
    list-style-type: disc;
}

/* Властивості для display */
#howToWinFriends img {
    /* Відображення */
    display: block;
    margin: 0 auto;
}

/* Властивості для inline-block */
#howToWinFriends h3 {
    /* Inline-block */
    display: inline-block;
}

/* Властивості для pseudo-class */
.howToWinFriendsAndInfluencePeople a:visited {
    /* Стиль для відвіданих посилань */
    color: #6c757d;
}


